.about {
    background:#CACACA;
    min-height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    font-family:NanumMyeongjo;
  }
  
  .about .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
          
  }
  
  .about .image img {
    width: 50%;

  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;

    font-family:NanumMyeongjo;
  }
  
  .about .content h3 {
    font-size: 4rem;
    line-height: 1.5;
  }
  
  .about .content p {
    font-size: 1.7rem;
    line-height: 2;
    padding: 1rem 0;
  }
  .features{
    background:#CACACA ;
  }
  
  .features .box-container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60vh;
    margin-bottom: 3rem;
  }
  
  .features .box-container .box:last-child {
    margin-bottom: 0;
  }
  
  .features .box-container .box:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
  }
  
  .features .box-container .box .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .features .box-container .box .image img {
    width: 100%;
    border-radius: 4%;
  box-shadow: azure;
  }
  
  .features .box-container .box .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .features .box-container .box .content h3 {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .features .box-container .box .content p {
    padding: 1.5rem 0;
    line-height: 2;
    font-size: 1.7rem;
  }

  /* interiror section start */
  .interior h3{
    text-align: center;
    font-family: Amiri;
    font-size: 40px;
    font-weight: 400;
    line-height: 70.32px;
    padding-top: 3rem;
  }
  .cards-contact {
    display: flex;
    justify-content: space-between;
   }
  .cards1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards1 img {
    width: 4rem;
    height: 4rem;
  }
  .cards1 h3{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: 27.24px;
    padding-top: 0.5rem;
  }
  .cards1 p{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: #5B616E;
    line-height: 21.79px;
  }
/* interiror section end */

 /* desc section start */
  .desc-section p{
    font-family: NanumMyeongjo;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #5B616E;
    padding-left: 15rem;
    padding-right: 15rem;
}
 /* desc section end */
/* responsive start */
@media screen and (max-width:835px){
  .cards-contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
  }
  .cards1 p{
    font-size: 2rem;
  }
  .desc-section p{
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
@media screen and (max-width:560px){
  .interior h3{
    font-size: 30px;
  }
    .desc-section p {
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 2rem;
    }
}
/* responsive end */
  